@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 20px;
  object-fit: cover;
}

.screen-max-width {
  max-width: 1120px;
  position: relative;
  margin-inline-end: auto;
  margin-inline-start: auto;
}